mysqlclient
django
djangorestframework
django-extensions
markdown
openpyxl
pandas
pyarrow
django-environ
pylint-django
python-dotenv
pymysql
asyncio
# celery
# redis
#pip install celery
#pip install redis pip install django-redis
